<div class="box-container">
    <h1>SmartMeter</h1>
    <div class="box">
      <h3>consumptionWithTariff:{{ SmartMeter[0]?.consumedEnergyWithTariff }}</h3>
    </div>

    <div class="box">
      <h3>production:{{SmartMeter[0]?.producedEnergy}}</h3>
    </div>
    <div class="box">
      <h3>consumptionWithoutTariff:{{SmartMeter[0]?.consumedEnergyWithoutTariff}}</h3>
    </div>

  </div>
  <div class="table-container">
    <table class="table">
      <caption>Battery</caption>
      <thead>
        <tr>
          <th>name</th>
          <th>capacity</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let battery of Batteries">
          <td>{{ battery.name }}</td>
          <td>{{ battery.realtimeCapacity }}</td>
          <td>
            <button  #buttonCell id="batteryButton"(click)="updateBattery(battery)">{{ battery.status ? 'On' : 'Off' }}</button>
          </td>
        </tr>
      </tbody>
    </table>


      <table>
        <caption><b> Consumer</b></caption>
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>consumedElectrecity</th>
            <th>Status</th>
            <th>type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Consumer of Consumers">
            <td>{{ Consumer.id }}</td>
            <td>{{ Consumer.name }}</td>
            <td>{{ Consumer.totalConsume }}</td>
            <td>
              <button id="StandardConsumerButton"(click)="updateConsumers(Consumer)">{{ Consumer.status ? 'On' : 'Off' }}</button>
            </td>
            <td>{{ Consumer.type }}</td>
        </tr>
        </tbody>
      </table>

      

      <table>
        <caption><b>Solar Panel</b></caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>MaxOutput</th>
            <th>produce</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let SolarPanel of SolarPanels">
            <td>{{ SolarPanel.name }}</td>
            <td>{{ SolarPanel.maxOutput }}</td>
            <td>{{ SolarPanel.totalProduce }}</td>
            <td>
              <button id="SolarPanelButton"(click)="updateSolarpanel(SolarPanel)">{{ SolarPanel.status ? 'On' : 'Off' }}</button>
            </td>
        </tr>
        </tbody>
      </table>
      <table>
        <caption><b>Turbine</b></caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Max-Output</th>
            <th>wind_speed</th>
            <th>produce</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Turbine of Turbines">
            <td>{{ Turbine.name }}</td>
            <td>{{ Turbine.maxOutput }}</td>
            <td>{{ Turbine.wind_speed }}</td>
            <td>{{ Turbine.totalProduce }}</td>
            <td>
              <button id="TurbineButton"(click)="updateTurbine(Turbine)">{{ Turbine.status ? 'On' : 'Off' }} </button>
            </td>
        </tr>
        </tbody>
      </table>

    </div>
