<div class="box-container">
  <div class="box"><h3>consumption</h3>
    <span>{{ value1 }}</span>

  </div>
  <div class="box"><h3>production</h3>
    <span>{{ value2 }}</span>
  </div>
</div>
  <div class="table-container">
    <table>
      <caption><b>Battery</b></caption>
      <thead>
        <tr>
          <th>Brand</th>
          <th>Capacity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of Batterys">
          <td>{{ row.name }}</td>
          <td>{{ row.capacity }}</td>
      </tr>

      </tbody>
    </table>

    <table>
      <caption><b>Standard Consumer</b></caption>
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of StandardConsumers">
          <td>{{ row.name }}</td>
          <td>{{ row.consumed }}</td>
      </tr>
      </tbody>
    </table>

    <table>
      <caption><b>Variable Consumer</b></caption>
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of VariableConsumers">
          <td>{{ row.name }}</td>
          <td>{{ row.consumed }}</td>
      </tr>
      </tbody>
    </table>

    <table>
      <caption><b>Solar Panel</b></caption>
      <thead>
        <tr>
          <th>Model</th>
          <th>Wattage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of SolarPanels">
          <td>{{ row.name }}</td>
          <td>{{ row.maxOutput }}</td>
      </tr>
      </tbody>
    </table>
    <table>
      <caption><b>Turbine</b></caption>
      <thead>
        <tr>
          <th>Type</th>
          <th>Power Output</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of Turbines">
          <td>{{ row.name }}</td>
          <td>{{ row.maxOutput }}</td>
      </tr>
      </tbody>
    </table>

  </div>
