.box-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  width: 300px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  border: 1px solid #ccc;
  padding: 20px;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.table {
  border-collapse: collapse;
  width: calc(70% - 10px); /* Adjust the width as needed */
  margin-bottom: 20px;
}

.caption {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

th,
td {
  padding: 16px; /* Increase the padding for bigger cells */
  text-align: left;
  border: 1px solid #ccc;
}

button.on {
  background-color: green;
  color: white;
}

button.off {
  background-color: red;
  color: white;
}
