<div class="container">
  <div class="infoBox infoBox-consumed">
    <h3>Consumed: </h3>
    <!-- Content for the consumed box -->
  </div>

  <div class="infoBox infoBox-produced">
    <h3>Produced: </h3>
    <!-- Content for the produced box -->
  </div>

  <div class="infoBox infoBox-difference">
    <h3>Difference: </h3>
    <!-- Content for the difference box -->
  </div>
</div>

<app-dynamic-table [tableDataList1]="cleanenergyTable" [tableDataList2]="tableDataList" [tableDataList3]="tableDataList" [tableDataList4]="tableDataList"></app-dynamic-table>
